---
- name: Run AI classification model
  hosts: localhost
  gather_facts: false
  tasks:

    - name: Run Python prediction script and capture output
      command: >
        python3 scripts/predict.py files/input.csv
      args:
        chdir: "{{ playbook_dir }}/.."
      register: ai_result
      environment:
        PYTHONUNBUFFERED: 1

    - name: Show AI prediction result in AWX
      debug:
        var: ai_result.stdout_lines
