---
- name: Run AI classification model
  hosts: localhost
  gather_facts: false
  tasks:

    - name: Python prediction script
      command: >
        python3 scripts/predict.py files/input.csv
      args:
        chdir: "{{ playbook_dir }}/.."
      register: ai_result
      environment:
        PYTHONUNBUFFERED: 1

    - name: AI prediction result
      debug:
        var: ai_result.stdout_lines
