---
- name: Run AI classification model
  hosts: localhost
  gather_facts: false
  tasks:

    - name: Run Python prediction script
      command: >
        python3 scripts/predict.py
        files/input.csv
        files/output.csv
      environment:
        PYTHONUNBUFFERED: 1

    - name: Fetch prediction results
      fetch:
        src: files/output.csv
        dest: ./results/output.csv
        flat: yes
